!/**/
!*.*
*.p
*.1cf
*.out
*.txt
*.intohylo
*.a
*.cf
*.hf
.vscode
main
.cache
callgrind*
.ccls
*.o
Parser/
massif*
S5Experiments/benchmarks/
S5Experiments/results/
S5Experiments/cegar_file.tmp
S5Experiments/S52SAT
S5Experiments/S5Cheetah
